*~
*a.out
*.o
*.h5
*.spec
*ray_*
*fluid_*
*.exe
make.inc
*gomc
src/*.d
tests/*/*.dat
tests/*/*.mod
tests/*/*.pdf
tests/*/plot_defaults.pyc
external/hdf5
external/EOSsuper/driver
external/EOSsuper/nuc_eos.a
run
.project
.cproject
