*~
*a.out
*.o
*.h5
*.spec
*ray_*
*fluid_*
*.exe
make.inc
*gomc
src/*.d
tests/*/*.dat
tests/*/*.mod
tests/*/*.pdf
tests/*/plot_defaults.pyc
tests/nulib_plots/species_*
tests/nulib_plots/nulib_eas_single
external/hdf5*
external/EOSsuper/driver
external/EOSsuper/nuc_eos.a
run
.project
.cproject
time_stats_log
lockfile
gui_rpc_auth.cfg
client_state.xml